.recipes-foods{
    height: 42rem;
    background-color: #182953;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*? H2 */
.recipes-foods h2{
    font-size: 2rem;
}

.recipes-links.mobileAside{
    display: none;
}

/*? Aside */
.recipes-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 2.8rem;
    gap: 0.6rem;
    transition: 0.3s ease-in-out;
}

.recipes-links .link-title{
    display: flex;
}

.recipes-links .link-title .link-item{
    width: 6rem;
    font-size: 1.4rem;
    color: #62B0F8;
}

.recipes-links .menu .link-title .link-item{
    color: white;
}

.recipes-links .list{
    align-items: flex-start;
}

.recipes-links .list .circle{
    font-size: 0.2rem;
    color: #62B0F8;
    padding-right: 0.3rem;
}

.recipes-links .link-item{
    padding: 0.1rem 0;
    font-size: 1rem;
    color: #fff;
}

.recipes-links .link-item:hover, .recipes-links .menu .link-title .link-item:hover{
    cursor: pointer;
    color: #a73744;
}

.recipes-links .arrow{
    height: 80%;
    font-size: 1.4rem;
    padding-right: 1rem;
    color: #62B0F8;
}

.recipes-links .arrow:hover{
    cursor: pointer;
}

.recipes-links .arrow.arrow-active{
    height: 0;
    padding: 0 0 0 1rem;
    transform: rotate(180deg);
}

.recipes-links .list{
    display: none;
}

.list.list-active{
    display: flex;
}

.recipes-links.recipes-links-active{
    height: 10rem;
}

/*? Recipe  */
.recipe-food{
    height: 30rem;
    width: 65%;
    padding: 1rem;
    background-color: #1E1E23;
    border-radius: 2rem;
}

.image-ingredients{
    height: 100%;
    width: 40%;
    padding: 0.4rem 0;
    gap: 1rem;
    background-color: lightcoral;
}

.image-ingredients img{
    width: 75%;
    border-radius: 1rem;
}

.ingredients-text{
    height: 50%;
    width: 90%;
    gap: 1rem;
}

.image-ingredients .ingredients-text h4, .name-preparation h4{
    align-self: center;
    font-size: 1.6rem;    
}

.image-ingredients .ingredients-text ul{
    align-self: flex-start;
    max-height: 80%;
    width: 100%;
    padding: 0 1rem;
    overflow: auto;
}

.image-ingredients .ingredients-text ul li{
    width: 100%;
    font-size: 1rem;
    text-align: left;
}

.name-preparation{
    width: 60%;
    height: 100%;
    padding: 0.4rem 0.2rem;
    gap: 1rem;
    background-color: lightgreen;
}

.name-preparation .preparation{
    max-height: 100%;
    overflow: auto;
}

.name-preparation .preparation::-webkit-scrollbar, .image-ingredients .ingredients-text ul::-webkit-scrollbar{
    background-color: #182953;
    border-radius: 5rem;
    width: 0.5rem;
}

.name-preparation .preparation::-webkit-scrollbar-thumb, .image-ingredients .ingredients-text ul::-webkit-scrollbar-thumb{
    background-color: #62B0F8;
    border-radius: 0.5rem;
}

.name-preparation .preparation p{
    padding: 0 0.6rem;
    width: 95%;
    font-size: 1rem;
    align-self: flex-start;
    text-align: justify;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1E1E23;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}