.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    background-color: #18181B;
}

.logo h1{
    color: #FFF;
    font-size: 2rem;   
}

.menu .link-a{
    color: #FFF;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.menu .link-a:hover{
    background-color: #6C232C;
}